<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :departure_date %>
    <%= form.datetime_select :departure_date %>
  </div>

  <div class="field">
    <%= form.label :destination_date %>
    <%= form.datetime_select :destination_date %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_area :origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_area :destination %>
  </div>

  <div class="field">
    <%= form.label :airplane_id %>
    <%= form.number_field :airplane_id %>
=======
    <%= form.label :flight_num %>
    <%= form.number_field :flight_num %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_area :date %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_area :to %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.text_area :from %>
  </div>

  <div class="field">
    <%= form.label :plane %>
    <%= form.text_area :plane %>
>>>>>>> d950933d5a4b254c956968eed91cd84bc2071599
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
